<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investor To Investor</title>
</head>

<body>

    <div>
        <h1>
            Investor to investor
        </h1>
    </div>

    <div>
        <input type="text" name="Company name" id="Company name" placeholder="Company Name">
        <input type="text" name="GSM" id="" placeholder="GSM">
    </div>

    <div>
        <input type="file" name="image" id="image">
        <select>
            <option value="Hotel">Hotel</option>
            <option value="Apartment building">Apartment building</option>
            <option value="Property to be developed">Property to be developed</option>
            <option value="Office">Office</option>
            <option value="Second Home">Second Home</option>
            <option value="Project">Project</option>
            <option value="Commerce">Commerce</option>
        </select>
    </div>

</body>

</html>