<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/myProfile.css">
</head>
<body>

    <div class="banner">
        <div class="banner__content">
                <img src="https://i.ibb.co/pRmMvJB/Fond-Haut-de-page.png" class="banner__image"></img>
                <div class="banner__logo">
                    <img  class="banner__logoButton" src="https://i.ibb.co/gtz5rnY/Logo-cl.png"></img>
                    <img  class="banner__logoTitle" src="https://i.ibb.co/S0PKQwH/Web-Immo-Free-Title.png" alt="">
                </div>
        </div>
    </div>

    <div class="homepage__content">
        <div class=homepage__LeftButtons>
            <button class="homepage__LeftButton"> EJS Data News</button>
            <button class="homepage__LeftButton">Local Consult</button>
        </div>
    
        <div class="homepage__MiddleButtons"> 
            <div class="MiddleButtons_FirstRow">
                <button class="MiddleFirstRowButton"> Your Request</button>
                <button class="MiddleFirstRowButton"> Private To Private</button>
                <button class="MiddleFirstRowButton"> Estimate by Agency</button>
                <button class="MiddleFirstRowButton"> Platform</button>
            </div>

            <div class="MiddleButtons_SecondRow">
                <button class="MiddleSecondRowButton"> Direct Auction Public Goods and Corporate Goods</button>
                <button class="MiddleSecondRowButton"> Investor to Investor</button>
                <button class="MiddleSecondRowButton"> Pro Agency</button>
                <button class="MiddleSecondRowButton"> Estimate By Agency</button>
            </div>

            <div class="MiddleButtons_ThirdRow">
                <button class="MiddleThirdRowButton"> For Sale</button>
                <button class="MiddleThirdRowButton"> For Rent</button>
            </div>

        </div>

        <div class="homepage__RightButtons">
            <button class=" homepage__RightButton " type="button" onclick="location.href='/users/register'">Register</button>
            <button class=" homepage__RightButton " type="button" onclick="location.href='/users/login'">Login</button>

            <button class="homepage__RightButton"> My WebImmoFree</button>
            <button class="homepage__RightButton" onclick="window.location.href='/articles/new';" > Publish my ad </button>
            <button class=" homepage__RightButton " type="button" onclick="location.href='/users/myProfile'">My Profile</button>


    <h1 class="mt-4">My profile</h1>

<div class="registerContainer">
    <div class="row">
        <div class="block">
            First Name : <%= user.name%>
        </div>

        <div class="block">
            Name : <%= user.surname%>

        </div>
    </div>

    <div class="secondLine">
        
        <div class="email">
            e-mail : <%= user.email%>
        </div>

        <div class="adress">
            Address : <%= user.address%>
        </div>
    </div>

    <div class="buttonLine">
        <button onclick="window.location.href='/users/editProfile';" style="background-color: green; color : azure;">Modify my profile</button>
    </div>
</div>


</body>
</html>