<div class="RegisterPage">
<form>
    <div class="RegisterPage__firstLine">
        <label for="name">Title*: </label>
        <input class="inputBox" name="title" type="text" value="">
        <label for="name">Surname*: </label>
        <input class="inputBox" name="surname" type="text" value="">
        <label for="name">Name*: </label>
        <input class="inputBox" name="name" type="text" value="">
        <label for="name">Phone*: </label>
        <input class="inputBox" name="phone" type="text" value="">
    </div>

    <div class="RegisterPage__secondLine">
        <label for="name">email*: </label>
        <input class="inputBox" name="email" type="text" value="">
        <label for="name">Adress*: </label>
        <input class="inputBox" name="address" type="text" value="">
        <label for="name">Postcode*: </label>
        <input class="inputBox" name="postcode" type="text" value="">
        <label for="name">Municipality*: </label>
        <input class="inputBox" name="municipality" type="text" value="">
    </div>

    <div class="RegisterPage__thirdLine">
        <label for="name">Agency: </label>
        <input class="inputBox"  name="Agency" type="text" value="">
        <label for="name">I.P.I Number: </label>
        <input class="inputBox" name="I.P.I Number" type="text" value="">
    </div>

    <div class="RegisterPage__checkbox">
        <div>
            <label for="name">P to P </label>
            <input class="checkbox" type="checkbox">
        </div>
        
        <div>
            <label for="name">Pro </label>
            <input class="checkbox" type="checkbox">
        </div>
    </div>


    <div class="SubmitButton">
        <button type="submit">Submit</button>
    </div>

    <div>
        <h1>Once registered, an email will be sent with your login and password.</h1>
    </div>
</form>

</div>